body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.header {
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo span {
  color: #2e2f42;
}

.mob-menu {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
}

.mob-menu-svg {
  flex-shrink: 0;
  fill: #2f2f37;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-link {
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.active {
  color: #404bbf;
}

.active::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: -1px;
}

.header-list {
  display: none;
  gap: 40px;
}

.address {
  display: none;
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  color: #434455;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.address-item {
}

.header-mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 24px 24px 40px 16px;
}

.header-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #e7e9fc;
  padding: 8px;
  margin-left: auto;
  background-color: transparent;
  margin-bottom: 24px;
}

.header-menu-close-svg {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}

.header-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-link:focus {
  color: #404bbf;
}

.menu-address-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  margin-bottom: 48px;
}

.menu-address-link {
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-address-link:focus {
  color: #4d5ae5;
}

.menu-icon-link {
  display: flex;
  gap: 40px;
}

.section {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}

.order-container {
}

.section-title {
  margin: 0 auto 72px;
  max-width: 288px;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.btn {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* =================================ADVANTAGE============================== */

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-container {
  margin: 0 auto;
}

.advantages-title {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}
.advantages-item {
  width: 100%;
}

.svg-container {
  width: 100%;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  display: none;
  align-items: center;
  justify-content: center;
}

.advantages-svg {
  flex-shrink: 0;
}

.advantages-subtitle {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.advantages-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* ======================================================================= */

/* =================================TEAM============================== */

.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-container {
}

.team-title {
  margin: 0 auto 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.text-container {
  padding: 32px 0;
}

.team-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-icon-list {
  width: 40px;
  height: 40px;
}

.team-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}

.team-icon-svg {
  fill: #f4f4fd;
}

/* ======================================================================= */

/* =================================portfolio============================== */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-list {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  overflow: hidden;
}

.portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.portfolio-item:hover .overlay-parag {
  transform: translatey(0);
}

.overlay-parag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  height: 100%;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
}

.subtitle-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  overflow: hidden;
}

.portfolio-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  letter-spacing: 0.02em;
}

.portfolio-img {
  width: 288px;
  height: 280px;
}

/* ======================================================================= */

/* =================================footer============================== */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo-container {
  /* d */
  width: 100%;
  margin-bottom: 72px;
  /* margin-right: 120px; */
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  /* max-width: 264px; */
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  /* d */
  text-align: center;
}

.social {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* d */
  margin: 0 auto 72px;
}

.social-text {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.social-list {
  display: flex;
  gap: 16px;
  /* margin-right: 80px; */
}

.social-item {
  width: 40px;
  height: 40px;
}

.footer-svg-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg-link:hover,
.footer-svg-link:focus {
  background-color: #31d0aa;
}

.footer-svg {
  flex-shrink: 0;
  fill: #f4f4fd;
}

/* .footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
} */

.form-email-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.form-input {
  max-width: 288px;
  width: 100%;
  height: 40px;
  padding: 8px 0 8px 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  /* d */
  margin-bottom: 16px;
}

.form-input::placeholder {
  color: #fff;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
}

.form-btn {
  display: inline-flex;
  min-width: 165px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 24px;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}

.footer-btn-svg {
  margin-left: 16px;
  fill: #ffffff;
}
/* ======================================================================= */

/* =================================modal============================== */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 16px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid #0000001a;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close,
.modal-close-btn:focus .modal-close {
  fill: #ffffff;
}

.modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: inherit;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.textarea:focus {
  border-color: #4d5ae5;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-text {
  display: flex;
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-text-link {
  display: inline-block;
  color: #4d5ae5;
  line-height: 1.33;
  text-decoration: underline;
}

.modal-text-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}

.modal-check:checked + .modal-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-text-icon {
}

.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  outline: none;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
}

/* ======================================================================= */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-logo {
    margin-right: 120px;
  }

  .mob-menu {
    display: none;
  }

  .header-list {
    display: flex;
  }

  .address {
    display: flex;
  }

  .address-list {
    display: block;
  }

  .menu-address-list {
    flex-direction: column;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .section {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }

  .section-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    margin: 0 auto 36px;
    padding-left: 0;
    padding-right: 0;
  }

  .advantages-list {
    gap: 72px 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-subtitle {
    text-align: left;
  }

  .team-list {
    gap: 64px 24px;
  }

  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-img {
    width: 356px;
    height: 300px;
  }

  .footer {
    padding: 96px 0;
  }

  .footer-content {
    align-items: normal;
    text-align: left;
    padding: 0 108px;
  }

  .footer-logo-container {
    max-width: 264px;
    margin-right: 24px;
  }

  .social {
    margin: 0;
  }

  .footer-form-container {
    margin-right: auto;
  }

  .footer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .form-input {
    width: 264px;
    margin: 0;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    display: flex;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .section-title {
    margin-bottom: 48px;
  }

  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .svg-container {
    display: flex;
  }

  .advantages-subtitle {
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-text {
    font-size: 16px;
    font-weight: 400;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-img {
    width: 360px;
    height: 300px;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-logo-container {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-text {
    max-width: 264px;
  }

  .social {
    margin: 0;
  }

  .social-list {
    margin-right: 80px;
  }

  .footer-form-container {
    margin-right: 0;
  }
}
